body {
    font-family: Arial, sans-serif;
   background-color: #fff;
    margin: 0;
    padding: 0;
}
.header {
display: flex;
align-items: center;
padding: 10px;
background-color: #fff;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
position:fixed;
width:99%;
}
.logo {
background-color: #ccc;
border-radius: 50%;  
display: flex;
align-items: center;
justify-content: center;

}
.website-name {
flex: 1;
margin-left: 10px;
color: rgb(240, 128, 17);
font-size: 20px;      
font-weight: bold;
}
.search {
width: 200px;
padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}
.header-icons {
display: flex;
align-items: center;
}
.bell-icon, .profile-icon {
margin-left: 10px;
font-size: 24px;
cursor: pointer;

}
.profile-icon {
background-color: #e4dddd;
border-radius: 50%;
width: 45px;
height: 45px;
}
table {
   
    width: 80%;
    border-collapse: collapse;
    margin-left:20%;
}
.card h2{
    padding-left: 15%;
}

table, th, td {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
th, td {
    padding: 30px;
    text-align: left;
}
th {
    background: #f4f4f4;
}

.dropdown {
position: relative;
display: inline-block;
    margin-left: 10px;
    margin-right:10px;

}
.dropdown-content {
    display: none;
    position: absolute;
    padding-top:10%;
    background-color: #f9f9f9;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 20%;
    margin-top:70%;
    
   
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
  
  
}

.dropdown:hover .dropbtn {
    color:rgb(240, 128, 17);

}
section{
 
    padding:5%;
}
section h2{
    color: rgb(240, 128, 17);
}

.sidebar {
    width: 250px;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    margin-top: 65px;
  padding-top:30px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sidebar a {
    display: block;
    color:black;
    padding: 15px;
    text-decoration: none;
    margin-bottom: 10px;
}
.sidebar a:hover {
  color:rgb(240, 128, 17);
background-color: #e4dddd;
}
   
.sidebar a{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
height: 30px;
width:150px;
margin-left:30px;
margin-bottom: 10px;
cursor: pointer;
padding:20px 20px 10px 10px;
border-radius:15px;



}